<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>../logs/position.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../archive/position.%d{yyyy-MM-dd_HHmm}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>    
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d %-5level [%thread] %logger{35} [%file:%line]: %msg%n</Pattern>
        </encoder>
    </appender> 

    <logger name="fr.xebia.mowitnow" level="INFO" />
   
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
    
</configuration>
